h1,
.h1-size {
  font-size: 3rem;
}
h2,
.h2-size {
  font-size: 2.5rem;
}
h3,
.h3-size {
  font-size: 2rem;
}
h4,
.h4-size {
  font-size: 1.5rem;
}
h5,
.h5-size {
  font-size: 1.25rem;
}
h6,
.h6-size {
  font-size: 1.0rem;
}

.text-sm {
  font-size: 0.85rem;
}

.text-xs {
  font-size: 0.6rem;
}

.line-height-lg {
  line-height: 1.25rem;
}

.line-height-md {
  line-height: 1rem;
}

.line-height-sm {
  line-height: 0.85rem;
}
